.footer {
display: flex;
flex-direction: row;
position: absolute;
width: 95%;
height: fit-content;
margin-left: 25px;
background-color:rgb(243, 102, 177);
color: white;
 }
.one{
margin-left: 1%;
}
.two{
margin-left: 85%;
}
.cart{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 600;
}
.cart:hover{
    color:  rgb(243, 102, 177);
}
.container{
box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1) ;
border-radius: 10px;  
width: 95%;
margin-left: 25px;
font-family: 'Anek Tamil', sans-serif;
padding-bottom: 50px;
}
.row{
margin-top: 2%;
margin-left: 10%;
}
.column {
float: left;
width: fit-content;
}
.row:after {
content: "";
display: table;
clear: both;
}
.description{
font-size: 20px;
font-weight: 600;
font-family: 'Anek Tamil', sans-serif;
width: 850px;
text-align: justify;
text-indent: 5px;
margin-left: 2%;
}
hr{
background-color: rgb(243, 102, 177);
height: 1px;   
}
.delete-btn{
width: fit-content;
background-color:rgb(243, 102, 177) ;
border-radius: 6px;
border-color: rgb(243, 102, 177);
font-size: 20px;
font-weight: 500;
color: white; 
margin-left: 70%;
margin-top:7%;
cursor: pointer;

}
.complete-btn{
width: fit-content;
background-color:rgb(243, 102, 177) ;
border-radius: 6px;
border-color: rgb(243, 102, 177);
font-size: 20px;
font-weight: 500;
color: white; 
margin-left: 75%;
margin-top:7%;
cursor: pointer;
}
