<app-navbar></app-navbar>

<div class="container">
    <div *ngIf="product">
        <div class="name">{{product.name}} Details</div>
    </div>

    <div class="row">
        <div class="photo column">
            <div *ngIf="product.name=='Baggy Jeans'">
                <img src="assets/baggy-jeans.jpg"> 
            </div>

            <div *ngIf="product.name=='Casual Dress'">
                <img src="assets/casual-dress.jpg">
            </div>

            <div *ngIf="product.name=='Pink Crop Top'">
                <img src="assets/pink-crop-top.jpg">
            </div>

            <div *ngIf="product.name=='Gown'">
                <img src="assets/gown.jpg">
            </div>

            <div *ngIf="product.name=='Gym Leggings'">
                <img src="assets/gym-leggings.jpg">
            </div>

            <div *ngIf="product.name=='Black Flared Jeans'">
                <img src="assets/black-flared-jeans.jpg">
            </div>

            <div *ngIf="product.name=='Knee High Boots'">
                <img src="assets/knee-high-boots.jpg">
            </div>

            <div *ngIf="product.name=='Split Maxi Dress'">
                <img src="assets/split-maxi-dress.jpg">
            </div>

            <div *ngIf="product.name=='Sandals'">
                <img src="assets/sandals.jpg">
            </div>
        </div>

        <div class="column description">
           Description: {{product.description}}
                <hr>
                <div class="description">
                Price: {{product.price}}
                </div>
                <hr>
                <div class="description">
                The product is in size {{product.size}}
                </div>
                <hr>
                <button class="buy-btn" (click)="add()">Buy Now</button>
        </div>

    </div>

  

</div>

<div class="footer">
    <p class="one">FashScape</p>
    <p class="two">Since 2022</p>
</div>
