.column{
text-align: center;
width:50%;
float: left;
margin-top: 200px;
justify-content: center;
cursor: pointer;
}
.container{
background-image: url("texture.jpg");
height: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}

