.column{
text-align: center;
width:50%;
float: left;
margin-top: 200px;
justify-content: center;
cursor: pointer;
}
.container{
background-image: url("texture.jpg");
height: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
.update-btn{
width: fit-content;
background-color:black;
border-radius: 6px;
border-color: black;
font-size: 20px;
font-weight: 500;
color: white; 
margin-left: 70%;
margin-top:15px;
cursor: pointer;
}