.footer {
display: flex;
flex-direction: row;
position: absolute;
width: 95%;
height: fit-content;
margin-left: 25px;
background-color:rgb(243, 102, 177);
color: white;
 }
.one{
margin-left: 1%;
}
.two{
margin-left: 85%;
}
.container{
box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1) ;
border-radius: 10px;  
width: 95%;
margin-left: 25px;
font-family: 'Anek Tamil', sans-serif;
padding-bottom: 50px;
}
.title{
text-align: center;
font-size: 70px;
font-weight: 700;
margin-top: 50px;
}
.title:hover{
    color: rgb(243, 102, 177);   
}
.us{
    text-align: center;
font-size: 40px;
font-weight: 500;
margin-top: 100px;
}
.us:hover{
    color: rgb(243, 102, 177);   
}
.us-text{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;    
    line-height: 1;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    text-indent: 20px;
}