<app-navbar></app-navbar>

<div class="container">
    <div class="title">About Us</div>
    <div class="us">Who we are</div>
    <div class="us-text">We are here to make your life easier and happier. Fashscape was born out of the love for
        fashion
        and is here to help you in your everyday life. You feel like you don't have anything to wear? Here is the place
        that
        can change that. You can look through the products that other users are selling and you will find something to
        match
        your aesthetics for sure. You feel that your wardrobe isn't big enough to support all your items, or you feel
        like you
        gathered so many clothes that you no longer wear? Here is also the place that you 'can get rid of them', by
        selling
        and showing them off to the whole world.
    </div>
    <div class="us">Our Mission</div>
    <div class="us-text">
        Our mission is, of course, to make your life happier by helping you in the journey of fashion.
    </div>
    <div class="us">We want to hear from you too!</div>
    <div class="us-text">
        If you have anything to say to us, or you have a question in mind, please feel free to contact us at
        fashscape2022@gmail.com
        and one of our colleagues will get back to you in a minute.
    </div>
</div>




<div class="footer">
    <p class="one">FashScape</p>
    <p class="two">Since 2022</p>
</div>