.topnav {
background-color: rgb(243, 102, 177);
overflow: hidden;
width: 95%;
margin-left: 25px;
}
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
  }
.topnav a:hover {
background-color: rgb(190, 74, 153);
  }
.topnav a.active {
background-color: #891159;
color: white;
  }
.topnav .icon {
display: none;
  }
.cart{
margin-left: 90%;
}
.banner{
display: flex;
background-color: rgb(252,252,252);
height: 293px;
width: 95%;
margin-left: 25px;
}
.motto{
display: block;
font-family: 'Anek Tamil', sans-serif;
text-align: center;
margin: auto;
white-space: nowrap;
font-size: 70px;
}
