<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#sell">Sell</a>
  <a href="#buy">Buy</a>
  <a href="#about">About us</a>
  <a href="#help">Help</a>
  <div class="cart">   
      <a href="#shopping-cart">Shopping Cart</a>
  </div>
</div>
<div class="banner">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap" rel="stylesheet">
<div class="logo"> 
    <img src="assets/banner.jpeg">
</div>
<div class="motto">
    Bringing you the elements of style
</div>

</div>
