.container{
    margin-top: 5px;     
}
.title{
    font-style: oblique;
    text-align: center;
    color: rgba(6, 1, 1, 0.382);
    margin-top: 10px;
}
.title:hover{
    color:  rgb(243, 102, 177);
}
.welcome-container{
    text-align: center;   
    font-size: 25px;
    text-align: justify;
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 550;
    text-indent: 10px;
    width: 150px;
}
.welcome-container:hover{
    color: rgb(243, 102, 177);
}
.columns {
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1) ;
    border-radius: 10px;  
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 90%;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
  }
.column {
    flex: content;
    margin-left: 25px;
    margin-right: 25px;
} 
.login-text{
    margin-left: 25%;
    margin-top: -650px;
}
.login-text:hover{
    color: rgb(243, 102, 177);
}
.login-form{
    font-size: 23px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 25%;
    margin-bottom: 25px;
    padding-bottom: 10px;
} 
.login-input{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
}
.buttons{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-top: 30px;
    padding-bottom: 100px;
}
.submit{
    width: fit-content;
    background-color:rgb(243, 102, 177) ;
    border-radius: 6px;
    border-color: rgb(243, 102, 177);
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}
.register-btn{
    width: fit-content;
    background-color:rgb(243, 102, 177) ;
    border-radius: 6px;
    border-color: rgb(243, 102, 177);
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 43px;
}
.register-form{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    font-size: 23px;
    width: fit-content;
}
.row{
    flex: content;
    font-size: 23px;
    
}
.register-input{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
}
.register-btn2{
    width: fit-content;
    background-color:rgb(243, 102, 177) ;
    border-radius: 6px;
    border-color: rgb(243, 102, 177);
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 300px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.manequins{
width: 300px;
margin-left: 70%;
}
.log{
margin-left: 68%;
}
.footer {
    display: flex;
    flex-direction: row;
    position: absolute;

    width: 95%;
    height: fit-content;
    margin-left: 25px;
    background-color:rgb(243, 102, 177);
    color: white;
    margin-top: 250px;
 }
 .one{
     margin-left: 1%;
 }
 .two{
margin-left: 85%;
 }
 .alert{
     color: red;
     font-size: 15px;
 }








