<app-navbar></app-navbar>
<div class="container">

    <div class="row">
        
     <div class="column">
         <img src="assets/baggy-jeans.jpg">
             <div class="label"   routerLink="/single/{{productList[0].name}}">
                {{productList[0].name}}
            </div>
    </div>

     <div class="column">
         <img src="assets/casual-dress.jpg">
         <div class="label" routerLink="/single/{{productList[1].name}}">
            {{productList[1].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/pink-crop-top.jpg">
         <div class="label" routerLink="/single/{{productList[2].name}}">
            {{productList[2].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/gown.jpg">
         <div class="label" routerLink="/single/{{productList[3].name}}">
            {{productList[3].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/gym-leggings.jpg">
         <div class="label" routerLink="/single/{{productList[4].name}}">
            {{productList[4].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/black-flared-jeans.jpg">
         <div class="label" routerLink="/single/{{productList[5].name}}">
            {{productList[5].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/knee-high-boots.jpg">
         <div class="label" routerLink="/single/{{productList[6].name}}">
            {{productList[6].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/split-maxi-dress.jpg">
         <div class="label" routerLink="/single/{{productList[7].name}}">
            {{productList[7].name}}
        </div>
    </div>

     <div class="column">
         <img src="assets/sandals.jpg">
         <div class="label" routerLink="/single/{{productList[8].name}}">
            {{productList[8].name}}
        </div>
     </div>

       

    </div>
    
</div>
<div class="footer">
    <p class="one">FashScape</p>
    <p class="two">Since 2022</p>
</div>